page-settings {

  .scroll-content{
    background: #ededed;
  }

  .logo{
    text-align: center;
    img{
      width: 50vw;
      margin-top: 5vh;
    }
  }

  .block1{
    margin-top: 5vh;
  }

  .block2{
    margin-top: 5vh;
  }

}
